@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* html {
  scroll-behavior: smooth;
  overflow: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
} */

body {
  font-family: theme('fontFamily.body');
  font-size: theme('fontSize.base');
  font-weight: theme('fontWeight.normal');
  line-height: theme('lineHeight.body');
  color: theme('colors.black');
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: theme('fontFamily.heading');
  font-weight: theme('fontWeight.black');
  line-height: theme('lineHeight.heading');
  letter-spacing: theme('letterSpacing.tighter');
}

h1 {
  font-size: 4.209rem;
}

h2 {
  font-size: 3.157rem;
}

h3 {
  font-size: 2.369rem;
}

h4 {
  font-size: 1.777rem;
}

h5 {
  font-size: 1.333rem;
}
